<li class="nav-item active">
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
        <button id="logOutButton" class="btn btn-link nav-link ffw-text-brown button-size font-weight-bold border-0" type="submit">Logout</button>
    </form>
</li>
