@using Microsoft.AspNetCore.Identity

@inject SignInManager<FastFoodUser> SignInManager
@inject UserManager<FastFoodUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);

    <li class="nav-item active">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
            <button id="logOutButton" class="btn btn-link nav-link ffw-text-brown button-size font-weight-bold border-0" type="submit">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item active">
        <a id="navigationAnchor" class="nav-link" asp-area="" asp-controller=@StringConstants.User asp-action=@StringConstants.Register>Register</a>
    </li>
    <li class="nav-item active">
        <a id="navigationAnchor" class="nav-link" asp-area="" asp-controller=@StringConstants.User asp-action=@StringConstants.Login>Login</a>
    </li>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

