@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="ffw-text-brown text-center titleMargin">Forgot Password Confirmation</h2>

@if (TempData[TempDataKeys.TempDataNonExistentEmailKey] != null)
{
    <div id="successMessage" class="alert alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" style="text-decoration:none">&times;</a>
        <strong>@TempData[TempDataKeys.TempDataNonExistentEmailKey]</strong>
    </div>
}

<div class="formDiv fries02">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <button id="forgotPasswordConfirmationButton" class="btn btn-default custom-btn">Forgot Password Confirmation</button>
        </div>
        <div class="row justify-content-center">
            <div id="forgotPasswordConfirmationPanel" class="col-sm-2 col-md-4 col-lg-6 formDiv">
                <h4 class="ffw-text-brown text-center">Please check your email to reset your password</h4>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center mt-4">
    <a class="btn btn-default custom-btn" asp-area="" asp-controller=@StringConstants.Home asp-action=@StringConstants.Index>Back</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $(document).ready(function () {
        $("#forgotPasswordConfirmationButton").click(function () {
            $("#forgotPasswordConfirmationPanel").toggle(700)
        });
    });
</script>